@left_bar_width: 80;
@window-width: 0;
#left_nav_bar {
  top: 0;
  float: left;
  display: inline-block;
  width: @left_bar_width;
  height: 100%;
}

#page_container {
  top: 0;
  display: inline-block;
  width: @window-width - @left_bar_width - 2;
}

#main_table {
  height: 100%;
}

