<html style="overflow-x: hidden;overflow-y: hidden;">

<head>
    <title>Daaogo.club | 倒狗俱乐部</title>


    <link rel="stylesheet/less" type="text/css" href="{{ url_for('main.static', filename='style/main.less') }}">
    <link href='https://fonts.googleapis.com/css?family=Work%20Sans' rel='stylesheet' type='text/css'>

    <script src="{{ url_for('main.static', filename='js/utils/less-var-manager.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/jquery-3.3.1.min.js') }}"></script>

    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
            rootpath: ":/a.com/"
        };

    </script>

    <script src="{{ url_for('main.static', filename='js/less.min.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/utils/time.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='layui/css/layui.css') }}">
    <script src="{{ url_for('main.static', filename='layui/layui.js') }}"></script>

    <script src="https://cdn.staticfile.org/echarts/4.6.0/echarts.min.js"></script>

    <script src="{{ url_for('main.static', filename='echart_resources/theme.js') }}"></script>

</head>

<body style="background-repeat: no-repeat;background-size: 100%;">


<script>

    var lessmgr = new LessManager();
    lessmgr.init();

    lessmgr.modifyVars({
        '@window-height': $(document).height(),
        '@window-width': $(document).width()
    });
</script>
<ul class="layui-nav" id="lango-navigator">


    <li class="layui-nav-item unselective"><a href="">GitHub</a></li>


</ul>

<div id="main" style="width: 1200px;height:600px;padding:64px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'main_theme');
    $.getJSON('/get_history', (return_data) => {
        console.log(return_data['start_time']);


        console.log(return_data['data']);

        let option = {
            title: {
                text: 'Wuhan nCov-2019 realtime stats'
            },
            dataset: {source: return_data['data']},
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                min: function (value) {
                    return value.min - 1000;
                },
                max: function (value) {
                    return value.max + 1000;
                },
                // boundaryGap: ['20%', '20%']
            },
            yAxis: {
                min: function (value) {
                    return value.min - ((value.max - value.min) * 0.1).toFixed(0);
                },
            },
            series: [{type: 'line', encode: {x: 'time', y: 'infected'}},
                //{type: 'line', encode: {x: 'time', y: 'sceptical'}},
            ]


        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    });


</script>


<script>

    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>

</body>

<footer>
    <style>
        .footer_box {
            position: absolute;
            bottom: 28px;
            text-align: center;
            width: 100%;
        }
    </style>
    <div class="footer_box">
        <div class="copyright unselective">Copyright © 2020 Artrix Technologies.</div>
    </div>

</footer>


</html>